<div class="bg-light">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
          <h1 class="display-4">Sobre Nós</h1>
          <p class="lead text-muted mb-0">Grupo Brutos do Mato</p>
          <p class="lead text-muted">Facebook: <a style="text-decoration: none;" href="https://www.facebook.com/groups/1679004639033193/" class="text-muted">
                      <strong>Brutos do Mato</strong></a>
          </p>
          <p class="lead text-muted">Instagram: <a style="text-decoration: none;" href="https://instagram.com/brutos.do.mato?igshid=1pnu1tegsblsy" class="text-muted">
                      <strong>@brutos.do.mato</strong></a>
          </p>
        </div>
        <div class="col-lg-6 d-none d-lg-block"><img src="/assets/brutos11.jpg" alt="" class="img-fluid"></div>
      </div>
    </div>
  </div>

  <div class="py-5" style="background-color:rgba(194, 218, 18)">
    <div class="container py-5">
      <div class="row align-items-center mb-5">
        <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">Como tudo começou...</h2>
          <p class="mb-4">A história do grupo se inicia com a formação dos primeiros integrantes de trail run no Estado do Ceará que decidiram realizar atividades entre amigos nas regiões de Palmácia e Maranguape.</p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Saiba mais</a>
        </div>
        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="/assets/brutos12.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-5 px-5 mx-auto"><img src="/assets/equipamentos.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">Instruções para participação</h2>
          <p class="mb-4">Os atletas que decidem participar das atividades organizada pelos Brutos do Mato, devem
            possuir os seguintes equipamentos: Mochila de hidratação - preferencialmente coletes - de no mínimo 1 litro para percursos médios e 1,5 litros para percursos longos.
            Tênis de trail run com gripes adequados para terrenos montanhosos, rochosos, arenosos e preparados para molhar.
            Além disto, devem se munir de energéticos para reposição de eletrólidos, barras de cereal, cápsulas de sais minerais, oleaginosas, frutas, dentre outros itens.
            Os mais experientes estarão sempre acessíveis para indicar os equipamentos e suprimentos necessários a cada peleja.
          </p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Saiba mais</a>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-light py-5">
    <div class="container py-5">
      <div class="row mb-4">
        <div class="col-lg-5">
          <h2 class="display-4 font-weight-light">Os responsáveis</h2>
          <p class="font-italic text-muted">O grupo conta atualmente com alguns corredores mais experientes que organizam as corridas e estão sempre deixando os demais participantes informados das próximas pelejas e atividades do grupo.</p>
        </div>
      </div>

      <div class="row text-center">
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834132/avatar-4_ozhrib.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Pedro Ângelo</h5><span class="small text-uppercase text-muted">Co-fundador</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-light rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834130/avatar-3_hzlize.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Dany Sipriano</h5><span class="small text-uppercase text-muted ">Co-fundadora</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-2_f8dowd.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Professor Tim</h5><span class="small text-uppercase text-muted">Membro e prof. de ed. física</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-1_s02nlg.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Jarbas Lheguelhé</h5><span class="small text-uppercase text-muted">Co-fundador</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->

      </div>
    </div>
  </div>
