<!--Navigation-->

<nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgb(0, 128, 0)">
    <div class="container">
        <a class="navbar-brand h1 mb-0" style="color:rgb(255, 255, 255)" [routerLink]="['/home']">Brutos do Mato</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isShown=!isShown">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" [ngClass]="{ 'show': isShown }" id="navbarSite">
            <ul class="navbar-nav smooth-scroll list-unstyled">
                <li class="nav-item">
                    <a class="nav-link text-white" (click)="isShown = false" [routerLink]="['/pelejas']">Pelejas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" (click)="isShown = false" [routerLink]="['/sobre']">Sobre nós</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" (click)="isShown = false" [routerLink]="['/galeria']">Galeria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" (click)="isShown = false" [routerLink]="['/contato']">Contato</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--FIM Navigation-->
